body{
	margin-top: 10px;
	background-color: #033c73;
	color: #FFFFFF;
}
.row{
	margin: 0;
}
.slogan {
	text-align: center;
}
.slogan h1{
	font-size: 2rem;
}
.slogan h2 {
	font-size: 1.8rem;
}
.slogan h2 span{
	display: block;
	font-size: 1rem;
	margin-top: 0.3rem;
}
header .col-md-1 {
	padding: 0;
}
header .nepal-flag img {
	width: 80%;
}
header .visit-nepal img {
	margin-top: 12px;
}
hr {
	background-color: #888585;
}
.news-scroll {
	margin-top: 10px;
	margin-bottom: 12px;
	padding: 5px 2px 0;
	color:#fff; 
	background-color:#d82727;
}

.news-scroll marquee {
	margin: 0;
	padding: 0;
	font-size: 1.3rem;
}
.staffs {
	padding-left: 7px;
}

.staffs .col-md-1 {
	padding-right: 5px;
	padding-left: 0;
}
.staffs .staffs-img {
	width: 100%;
	height: 115px;
	border-radius: 4%;
	display: block;
	margin-bottom: 1%;
}

.col-md-6 {
  padding-right: 0;
  padding-left: 7px;
}

.col-md-4 {
  padding-left: 7px;
  padding-right: 7px;
}

.col-md-2 {
  padding-right: 0;
  padding-left: 0;
}

.carousel-caption {
	bottom: 0;
	padding-bottom: 0;
}

.heading{
	font-size: 1.2rem;
	text-align: center;
	background: #F00;
	font-weight: bold;
	padding: 5px 0;
	margin-bottom: 0;
}

ul.vertical-scroll {
	list-style: decimal inside !important;
	list-style-type:devanagari !important;
	padding: 5px 10px; 
	font-size: 1.2rem;
	background-color: #4c4444;
}
ul.v-another {
	background-color: #3e3030;
	display: table;
  table-layout: fixed;
	
}
ul.v-another {
	list-style-type:none !important;
	display: table-cell;
  width: 100%;
}

ul.v-another li{
	margin-bottom: -20px !important;
}

ul.vertical-scroll li{
}

ul.vertical-scroll li a{
	display: inline-block;
	color: #d2cccc;
	text-decoration: none;
}

ul.vertical-scroll li a:hover{
	color: #FFF;
	text-decoration: none;
}

ul.vertical-scroll li span{
	font-size: 1rem;
}

#myModal{
	color: #212529 !important;
}

.col-md-8 {
	padding-left: 0;
	padding-right: 7px;
}

.carousel2{
}
.carousel2 .carousel-inner{
  height: 100px;
}
.carousel2 .carousel-caption{
  color: #fff;
  top: 50%;
}

.pratinidhi {
	margin-top: 10px;
	background-color: #cac6c6;
	height: 105px;
  overflow: hidden;
  padding: 0;
}

.pratinidhi .table th, .pratinidhi .table td{
	border: none;
}

.pratinidhi thead {
	background-color: rgba(52, 139, 206, 0.8);
}

.janaPratinidhi {
	padding:0 10px 10px 0;
}
.janaPratinidhi .text-center {
	margin-bottom: 5px;
}

.janaPratinidhi .text-center:last-child {
	margin-bottom: 0;
}
.janaPratinidhi .phone{
	font-size: 0.8rem;
}

.janaPratinidhi .designation{
	margin: -3px 0;
}
